version: "3.8"

services:
  postgres:
    image: postgres:13
    container_name: my_postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydbname
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mockserver:
    build: ./mock
    container_name: my_mock_server
    ports:
      - "8080:8080"

volumes:
  pgdata:
